@charset "UTF-8";
/* ==========================variables========================= */
/* ==========================end-variables========================== */
/* ==========================fonts========================== */
/* fira-sans-condensed-regular - latin */
@font-face {
  font-family: "fira_sans_condensedregular";
  src: url("/font/fira-sans-condensed-v10-latin/firasanscondensed-regular-webfont.woff") format("woff2"), url("/font/fira-sans-condensed-v10-latin/fira-sans-condensed-v10-latin-regular.woff2") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* fira-sans-condensed-italic - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Fira Sans Condensed";
  font-style: italic;
  font-weight: 400;
  src: url("/font/fira-sans-condensed-v10-latin/fira-sans-condensed-v10-latin-regular.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* ==========================end-fonts========================== */
/* ==========================reset========================== */
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/* ==========================end-reset========================== */
/* ==========================container========================== */
#container {
  max-width: 414px;
  width: 100%;
  margin: 0 auto;
  background-color: #f8f8f8;
  /* ==========================header========================== */
  /* ==========================menu-burger========================== */
  /* ==========================menu-burger========================== */
  /* ==========================end-header========================== */
  /* ==========================Page-index========================== */
  /* ==========================bloc-img-presentation========================== */
  /* ==========================end-bloc-img-presentation========================== */
  /* ==========================sections========================== */
  /* ==========================bloc-XP========================== */
  /* ==========================end-sections========================== */
  /* ==========================bouton-annonces========================== */
  /* ==========================end-bouton-Annonces========================== */
  /* ==========================end-page-index========================== */
  /* ==========================page-Annonces========================== */
  /* ==========================end-page-Annonces========================== */
  /* ==========================page-Article1========================== */
  /* ==========================end-page-Article1========================== */
  /* ==========================page-détails1========================== */
  /* ==========================end-page-détails========================== */
  /* ==========================page-Contact========================== */
  /* ==========================end-page-Contact========================== */
  /* ==========================page-RGPD========================== */
  /* ==========================page-RGPD========================== */
  /* ==========================footer========================== */
  /* ==========================end-footer========================== */
  /*======================= modif slider ======================*/
  /*======================= end-modif slider ======================*/
  /* ==========================end-container========================== */
}
#container #nav .blocburger-logo {
  padding-top: 25px;
  display: flex;
  justify-content: space-between;
}
#container #nav .blocburger-logo #burger {
  display: flex;
  align-items: center;
  margin-right: 10px;
}
#container #nav .blocburger-logo #logo .logo1 {
  display: flex;
  align-items: center;
  height: 30px;
  width: auto;
  margin-left: 10px;
}
#container #nav .list {
  display: flex;
  justify-content: center;
}
#container #nav .list ul {
  margin-top: 30px;
}
#container #nav .list ul li {
  display: flex;
  padding: 15px;
  font-family: "Fira Sans Condensed";
  font-size: 25px;
}
#container #nav .list ul li a {
  color: black;
  height: 100px;
  width: auto;
}
#container .blocimgpresentation {
  background-color: black;
  height: auto;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
#container .blocimgpresentation .imgsatis {
  height: 233px;
  width: auto;
  opacity: 0.7;
}
#container .blocimgpresentation .logo2 {
  position: absolute;
  height: 50px;
  width: auto;
}
#container #presentation {
  /* ==========================end-bloc-XP========================== */
  /* ==========================-bloc-satisfaction========================== */
  /* ==========================end-bloc-satisfaction========================== */
  /* ==========================bloc-confiance========================== */
  /* ==========================end-bloc-confiance========================== */
  /* ==========================bloc-sécurité========================== */
  /* ==========================end-bloc-sécurité========================== */
}
#container #presentation .blocxp {
  background-color: #ced4da;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 320px;
  margin-top: 10px;
  margin-bottom: 10px;
}
#container #presentation .blocxp .imgxp {
  padding: 25px;
  height: 100px;
  width: auto;
}
#container #presentation .blocxp h1 {
  padding: 10px;
  font-family: "Fira Sans Condensed";
}
#container #presentation .blocxp h2 {
  padding: 10px;
  font-family: "fira_sans_condensedregular";
  font-weight: 200;
}
#container #presentation .blocsatisfaction {
  background-color: #ced4da;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 320px;
  margin-top: 10px;
  margin-bottom: 10px;
}
#container #presentation .blocsatisfaction .imgsatisfaction {
  padding: 25px;
  height: 100px;
  width: auto;
}
#container #presentation .blocsatisfaction h1 {
  padding: 10px;
  font-family: "Fira Sans Condensed";
}
#container #presentation .blocsatisfaction h2 {
  padding: 10px;
  font-family: "fira_sans_condensedregular";
  font-weight: 200;
}
#container #presentation .blocconfiance {
  background-color: #ced4da;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 320px;
  margin-top: 10px;
  margin-bottom: 10px;
}
#container #presentation .blocconfiance .imgconfiance {
  padding: 25px;
  height: 100px;
  width: auto;
}
#container #presentation .blocconfiance h1 {
  padding: 10px;
  font-family: "Fira Sans Condensed";
}
#container #presentation .blocconfiance h2 {
  padding: 10px;
  font-family: "fira_sans_condensedregular";
  font-weight: 200;
}
#container #presentation .blocsecurite {
  background-color: #ced4da;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 320px;
  margin-top: 10px;
  margin-bottom: 10px;
}
#container #presentation .blocsecurite .imgsecurite {
  padding: 25px;
  height: 100px;
  width: auto;
}
#container #presentation .blocsecurite h1 {
  padding: 10px;
  font-family: "Fira Sans Condensed";
}
#container #presentation .blocsecurite h2 {
  padding: 10px;
  font-family: "fira_sans_condensedregular";
  font-weight: 200;
}
#container .boutonannonce {
  display: flex;
  justify-content: center;
}
#container .boutonannonce a {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #bbe7f3;
  height: 70px;
  width: 170px;
  font-size: 25px;
  font-family: "Fira Sans Condensed";
  color: black;
  border-radius: 10px;
  margin-top: 14px;
  margin-bottom: 20px;
}
#container .annonces {
  width: 370px;
  margin: auto;
}
#container .annonces .article1 {
  background-color: #ced4da;
  margin-bottom: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
  border-radius: 10px;
}
#container .annonces .article1 .imgarticle {
  height: 130px;
  width: 370px;
  overflow: hidden;
}
#container .annonces .article1 .imgarticle .imgmaison1 {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}
#container .annonces .article1 h1 {
  font-family: "fira_sans_condensedregular";
  font-size: 22px;
  font-weight: 500;
  margin-top: 10px;
  text-align: center;
}
#container .annonces .article2 {
  background-color: #ced4da;
  margin-bottom: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
  border-radius: 10px;
}
#container .annonces .article2 .imgarticle2 {
  height: 130px;
  width: 370px;
  overflow: hidden;
}
#container .annonces .article2 .imgarticle2 .imgmaison2 {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}
#container .annonces .article2 h1 {
  font-family: "fira_sans_condensedregular";
  font-size: 22px;
  font-weight: 500;
  margin-top: 10px;
  text-align: center;
}
#container .annonces .article3 {
  background-color: #ced4da;
  margin-bottom: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
  border-radius: 10px;
}
#container .annonces .article3 .imgarticle2 {
  height: 130px;
  width: 370px;
  overflow: hidden;
}
#container .annonces .article3 .imgarticle2 .imgmaison2 {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}
#container .annonces .article3 h1 {
  font-family: "fira_sans_condensedregular";
  font-size: 22px;
  font-weight: 500;
  margin-top: 10px;
  text-align: center;
}
#container .annonces .article4 {
  background-color: #ced4da;
  margin-bottom: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
  border-radius: 10px;
}
#container .annonces .article4 .imgarticle2 {
  height: 130px;
  width: 370px;
  overflow: hidden;
}
#container .annonces .article4 .imgarticle2 .imgmaison2 {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}
#container .annonces .article4 h1 {
  font-family: "fira_sans_condensedregular";
  font-size: 22px;
  font-weight: 500;
  margin-top: 10px;
  text-align: center;
}
#container .slider {
  margin-top: 20px;
  margin-bottom: 20px;
}
#container .detailsarticle {
  margin-bottom: 30px;
}
#container .detailsarticle .bloc1 {
  background-color: #ced4da;
  margin-bottom: 20px;
}
#container .detailsarticle .bloc1 h1 {
  font-family: "fira_sans_condensedregular";
  font-size: 23px;
  font-weight: 500;
  padding: 10px;
}
#container .detailsarticle .bloc2 {
  background-color: #ced4da;
  margin-bottom: 20px;
}
#container .detailsarticle .bloc2 h1 {
  font-family: "fira_sans_condensedregular";
  font-size: 23px;
  font-weight: 500;
  padding: 10px;
}
#container .detailsarticle .bloc3 {
  background-color: #ced4da;
  margin-bottom: 20px;
}
#container .detailsarticle .bloc3 h1 {
  font-family: "fira_sans_condensedregular";
  font-size: 23px;
  font-weight: 800;
  padding: 10px;
}
#container .detailsarticle .bloc3 h2 {
  font-family: "fira_sans_condensedregular";
  font-size: 23px;
  font-weight: 500;
  padding: 10px;
}
#container .detailsarticle .plandactivite {
  display: flex;
  justify-content: center;
}
#container .detailsarticle .plandactivite a {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: #bbe7f3;
  height: 70px;
  width: 200px;
  font-size: 25px;
  font-family: "Fira Sans Condensed";
  color: black;
  border-radius: 10px;
  margin-top: 14px;
  margin-bottom: 20px;
}
#container .map {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
#container .containerdetails {
  margin-top: 30px;
  margin-bottom: 30px;
}
#container .containerdetails .bloc1 {
  background-color: #ced4da;
}
#container .containerdetails .bloc1 h1 {
  font-family: "fira_sans_condensedregular";
  font-size: 23px;
  font-weight: 800;
  padding: 10px;
}
#container .containerdetails .bloc1 h2 {
  font-family: "fira_sans_condensedregular";
  font-size: 23px;
  font-weight: 500;
  padding: 10px;
}
#container .containerdetails .bloc2 {
  background-color: #ced4da;
  margin-top: 20px;
}
#container .containerdetails .bloc2 h1 {
  font-family: "fira_sans_condensedregular";
  font-size: 23px;
  font-weight: 800;
  padding: 10px;
}
#container .containerdetails .bloc2 h2 {
  font-family: "fira_sans_condensedregular";
  font-size: 23px;
  font-weight: 500;
  padding-left: 10px;
  padding-bottom: 5px;
}
#container .containerdetails .bloc3 {
  background-color: #ced4da;
  margin-top: 20px;
}
#container .containerdetails .bloc3 h1 {
  font-family: "fira_sans_condensedregular";
  font-size: 23px;
  font-weight: 800;
  padding: 10px;
}
#container .containerdetails .bloc3 h2 {
  font-family: "fira_sans_condensedregular";
  font-size: 23px;
  font-weight: 500;
  padding-left: 10px;
  padding-bottom: 5px;
}
#container .containerdetails .bloc4 {
  background-color: #ced4da;
  margin-top: 20px;
  margin-bottom: 20px;
}
#container .containerdetails .bloc4 h1 {
  font-family: "fira_sans_condensedregular";
  font-size: 23px;
  font-weight: 800;
  padding: 10px;
}
#container .containerdetails .bloc4 h2 {
  font-family: "fira_sans_condensedregular";
  font-size: 23px;
  font-weight: 500;
  padding-left: 10px;
  padding-bottom: 5px;
}
#container .containerdetails .boutoncontact {
  display: flex;
  justify-content: center;
}
#container .containerdetails .boutoncontact a {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: #bbe7f3;
  height: 70px;
  width: 150px;
  font-size: 25px;
  font-family: "Fira Sans Condensed";
  color: black;
  border-radius: 10px;
  margin-top: 14px;
  margin-bottom: 20px;
}
#container .containercontact {
  background-color: #ced4da;
  height: 930px;
  width: 350px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  font-size: 20px;
  font-family: "Fira Sans Condensed";
}
#container .containercontact #form input {
  border: none;
  padding-left: 10px;
  background-color: #ecf6ff;
  font-family: "Fira Sans Condensed";
  border-radius: 10px;
}
#container .containercontact #form h1 {
  font-size: 20px;
  font-weight: 500;
  padding-bottom: 10px;
  padding-left: 4px;
}
#container .containercontact #form .civilite {
  height: 50px;
  width: 300px;
  padding-top: 12px;
}
#container .containercontact #form .civilite label {
  padding-left: 3px;
}
#container .containercontact #form .civilite input {
  margin-bottom: 20px;
  font-family: "Fira Sans Condensed";
}
#container .containercontact #form .nomprenom input {
  height: 50px;
  width: 300px;
  margin-bottom: 20px;
  font-family: "Fira Sans Condensed";
}
#container .containercontact #form .tel input {
  height: 50px;
  width: 300px;
  margin-bottom: 20px;
  font-family: "Fira Sans Condensed";
}
#container .containercontact #form .mail input {
  height: 50px;
  width: 300px;
  margin-bottom: 20px;
  font-family: "Fira Sans Condensed";
}
#container .containercontact #form .age input {
  height: 50px;
  width: 300px;
  margin-bottom: 20px;
  font-family: "Fira Sans Condensed";
}
#container .containercontact #form .calendrier h1 {
  margin-bottom: -25px;
}
#container .containercontact #form .calendrier input {
  height: 50px;
  width: 300px;
  margin-bottom: 20px;
  font-family: "Fira Sans Condensed";
}
#container .containercontact #form .message textarea {
  background-color: #ecf6ff;
  height: 50px;
  width: 300px;
  margin-bottom: 20px;
  border: none;
  align-content: center;
  padding-left: 10px;
  font-family: "Fira Sans Condensed";
  border-radius: 10px;
}
#container .containercontact #form .bouton {
  display: flex;
  justify-content: center;
}
#container .containercontact #form .bouton button {
  height: 50px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #bbe7f3;
  font-size: 25px;
  font-family: "Fira Sans Condensed";
  color: black;
  border-radius: 10px;
  margin-top: 14px;
  margin-bottom: 20px;
  border: none;
}
#container .blocrgpd {
  margin-top: 50px;
}
#container .blocrgpd .textmention1 {
  display: flex;
  justify-content: center;
  font-size: 15px;
  font-family: "Fira Sans Condensed";
  margin-bottom: 25px;
}
#container .blocrgpd .textmention2 {
  display: flex;
  justify-content: center;
  font-size: 9px;
  font-family: "Fira Sans Condensed";
  margin: 20px;
}
#container .blocrgpd .textmention3 {
  display: flex;
  justify-content: center;
  font-size: 15px;
  font-family: "Fira Sans Condensed";
  margin-bottom: 25px;
}
#container .blocrgpd .textmention4 {
  display: flex;
  justify-content: center;
  font-size: 9px;
  font-family: "Fira Sans Condensed";
  margin: 20px;
}
#container .blocrgpd .textmention5 {
  display: flex;
  justify-content: center;
  font-size: 15px;
  font-family: "Fira Sans Condensed";
  margin-bottom: 25px;
}
#container .blocrgpd .textmention6 {
  display: flex;
  justify-content: center;
  font-size: 9px;
  font-family: "Fira Sans Condensed";
  margin: 20px;
}
#container .blocrgpd .textmention7 {
  display: flex;
  justify-content: center;
  font-size: 15px;
  font-family: "Fira Sans Condensed";
  margin-bottom: 25px;
}
#container .blocrgpd .textmention8 {
  display: flex;
  justify-content: center;
  font-size: 9px;
  font-family: "Fira Sans Condensed";
  margin: 20px;
}
#container .blocrgpd .textmention9 {
  display: flex;
  justify-content: center;
  font-size: 15px;
  font-family: "Fira Sans Condensed";
  margin-bottom: 25px;
}
#container .blocrgpd .textmention10 {
  display: flex;
  justify-content: center;
  font-size: 9px;
  font-family: "Fira Sans Condensed";
  margin: 20px;
}
#container #footer {
  background-color: #212529;
  height: 100px;
  width: auto;
}
#container #footer .icones {
  display: flex;
  justify-content: center;
  padding: 5px;
}
#container #footer .icones i {
  padding: 15px;
}
#container #footer .rgpd {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
#container #footer .rgpd h1 {
  color: white;
  font-size: 11px;
  font-family: "Fira Sans Condensed";
  font-style: italic;
}
#container #footer .rgpd h1 a {
  color: white;
  font-family: "Fira Sans Condensed";
  font-style: italic;
}
#container .nivo-caption {
  background-color: transparent;
  top: 40%;
  left: 40%;
  font-size: 5rem;
}

/* ==========================media querie========================== */
@media (min-width: 0px) and (max-width: 600px) {
  #container #nav .blocburger-logo .listnoburger {
    display: none;
  }
}
@media screen and (min-width: 600px) {
  html {
    background-color: #f8f8f8;
  }
  #container {
    max-width: 600px;
    width: 100%;
  }
  #container #nav {
    margin: 10px;
    border-top: 1px solid;
    border-bottom: 1px solid;
  }
  #container #nav .blocburger-logo {
    margin-bottom: 25px;
  }
  #container #nav .blocburger-logo #burger {
    display: none;
  }
  #container #nav .blocburger-logo .listnoburger {
    display: flex;
  }
  #container #nav .blocburger-logo .listnoburger ul {
    display: flex;
    flex-direction: row;
  }
  #container #nav .blocburger-logo .listnoburger ul li {
    align-content: center;
    margin-right: 20px;
    margin-left: 20px;
    font-family: "Fira Sans Condensed";
    font-size: 25px;
  }
  #container #nav .blocburger-logo .listnoburger ul li a {
    color: black;
    height: 100px;
    width: auto;
  }
  #container #nav .list {
    display: none;
    flex-direction: row;
  }
  #container .blocimgpresentation {
    margin-top: 40px;
    border-radius: 10px;
  }
  #container .blocimgpresentation .imgsatis {
    height: 337px;
    border-radius: 10px;
  }
  #container #presentation .blocxp {
    border-radius: 10px;
  }
  #container #presentation .blocsatisfaction {
    border-radius: 10px;
  }
  #container #presentation .blocconfiance {
    border-radius: 10px;
  }
  #container #presentation .blocsecurite {
    border-radius: 10px;
  }
}
@media screen and (min-width: 600px) {
  #container .blocrgpd .textmention2 {
    text-align: center;
  }
  #container .blocrgpd .textmention4 {
    text-align: center;
  }
  #container .blocrgpd .textmention6 {
    text-align: center;
  }
  #container .blocrgpd .textmention8 {
    text-align: center;
  }
  #container .blocrgpd .textmention10 {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  #container {
    max-width: 1200px;
    width: 100%;
  }
  #container #nav .blocburger-logo #burger {
    display: none;
  }
  #container #nav .blocburger-logo .listnoburger {
    display: flex;
  }
  #container #nav .blocburger-logo .listnoburger ul {
    display: flex;
    flex-direction: row;
  }
  #container #nav .blocburger-logo .listnoburger ul li {
    align-content: center;
    margin-right: 20px;
    margin-left: 20px;
    font-family: "Fira Sans Condensed";
    font-size: 25px;
  }
  #container #nav .blocburger-logo .listnoburger ul li a {
    color: black;
    height: 100px;
    width: auto;
  }
  #container #nav .list {
    display: none;
    flex-direction: row;
  }
  #container .blocimgpresentation {
    border-radius: 10px;
    height: 400px;
    width: 800px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  #container .blocimgpresentation .imgsatis {
    height: 400px;
    width: 800px;
    border-radius: 10px;
  }
  #container #presentation {
    display: flex;
    flex-direction: row;
  }
  #container #presentation .blocxp {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 340px;
    width: 650px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 10px;
    margin-right: 50px;
  }
  #container #presentation .blocsatisfaction {
    height: 340px;
    width: 650px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 10px;
    margin-right: 50px;
  }
  #container #presentation .blocconfiance {
    height: 340px;
    width: 650px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 10px;
    margin-right: 50px;
  }
  #container #presentation .blocsecurite {
    height: 340px;
    width: 650px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 10px;
  }
  #container #footer {
    background-color: #212529;
    height: 100px;
    width: auto;
  }
  #container #footer .icones {
    display: flex;
    justify-content: center;
    padding: 5px;
  }
  #container #footer .icones i {
    padding: 15px;
  }
  #container #footer .rgpd {
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }
  #container #footer .rgpd h1 {
    color: white;
    font-size: 15px;
    font-family: "Fira Sans Condensed";
    font-style: italic;
    margin-left: 50px;
  }
  #container #footer .rgpd h1 a {
    color: white;
    font-family: "Fira Sans Condensed";
    font-style: italic;
    margin-right: 80px;
  }
}
@media screen and (min-width: 1200px) {
  #container .annonces {
    width: 370px;
  }
  #container .annonces .blocannonce1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
  }
  #container .annonces .blocannonce1 .article1 {
    margin-right: 100px;
  }
  #container .annonces .blocannonce1 .article2 {
    background-color: #ced4da;
    margin-bottom: 10px;
    margin-top: 20px;
  }
  #container .annonces .blocannonce2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    margin-bottom: 20px;
  }
  #container .annonces .blocannonce2 .article3 {
    margin-right: 100px;
  }
}
@media screen and (min-width: 1200px) {
  #container .slider {
    height: 500px;
    width: 800px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin: auto;
  }
  #container .detailsarticle {
    margin-top: 130px;
  }
  #container .detailsarticle .bloc1 {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 800px;
    text-align: center;
  }
  #container .detailsarticle .bloc2 {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 800px;
    text-align: center;
    margin-top: 20px;
  }
  #container .detailsarticle .bloc3 {
    text-align: center;
    margin: auto;
    width: 800px;
    margin-top: 20px;
  }
  #container .detailsarticle .bloc3 h1 {
    margin-left: 64px;
  }
  #container .detailsarticle .bloc3 .blocarticle001 {
    display: flex;
    justify-content: center;
    margin-right: 5px;
  }
}
@media screen and (min-width: 1200px) {
  #container .containerdetails {
    align-content: center;
  }
  #container .containerdetails .blocdetails1 .bloc1 {
    text-align: center;
    margin: auto;
    width: 800px;
  }
  #container .containerdetails .blocdetails1 .bloc1 .blocdetails1 {
    display: flex;
    justify-content: center;
  }
  #container .containerdetails .blocdetails1 .bloc2 {
    text-align: center;
    margin: auto;
    width: 800px;
    margin-top: 20px;
  }
  #container .containerdetails .blocdetails1 .bloc3 {
    text-align: center;
    margin: auto;
    width: 800px;
    margin-top: 20px;
  }
  #container .containerdetails .bloc4 {
    text-align: center;
    margin: auto;
    width: 800px;
    margin-top: 20px;
  }
}
@media screen and (min-width: 1200px) {
  #container .containercontact {
    width: 600px;
  }
  #container .containercontact #form .nomprenom input {
    width: 400px;
  }
  #container .containercontact #form .tel input {
    width: 400px;
  }
  #container .containercontact #form .mail input {
    width: 400px;
  }
  #container .containercontact #form .age input {
    width: 400px;
  }
  #container .containercontact #form .calendrier input {
    width: 400px;
  }
  #container .containercontact #form .message textarea {
    width: 400px;
  }
}
/* ==========================media querie========================== */

/*# sourceMappingURL=style.css.map */
