/* ==========================variables========================= */
$colorwhite: white;
$colorblack: black;
$colorbloc: #ced4da;
$colorbutton: #bbe7f3;
$colorbackground: #f8f8f8;
$colorfooter: #212529;

/* ==========================end-variables========================== */
/* ==========================fonts========================== */
/* fira-sans-condensed-regular - latin */
@font-face {
  font-family: "fira_sans_condensedregular";
  src: url("/font/fira-sans-condensed-v10-latin/firasanscondensed-regular-webfont.woff") format("woff2"),
    url("/font/fira-sans-condensed-v10-latin/fira-sans-condensed-v10-latin-regular.woff2") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* fira-sans-condensed-italic - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Fira Sans Condensed";
  font-style: italic;
  font-weight: 400;
  src: url("/font/fira-sans-condensed-v10-latin/fira-sans-condensed-v10-latin-regular.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* ==========================end-fonts========================== */
/* ==========================reset========================== */
* {
  margin: 0;
  padding: 0;
  // background-color: $colorbackground;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/* ==========================end-reset========================== */
/* ==========================container========================== */
#container {
  // IphoneXR dimension: 414px
  max-width: 414px;
  width: 100%;
  margin: 0 auto;
  background-color: $colorbackground;

  /* ==========================header========================== */
  #nav {
    position: sticky;

    .blocburger-logo {
      // margin-top: 10px;
      padding-top: 10px;
      display: flex;
      justify-content: space-between;

      #burger {
        display: flex;
        align-items: center;
        margin-right: 10px;
      }

      #logo {
        .logo1 {
          display: flex;
          align-items: center;
          height: 30px;
          width: auto;
          margin-left: 10px;
        }
      }
    }

    .list {
      display: flex;
      justify-content: center;

      ul {
        margin-top: 30px;

        li {
          display: flex;
          justify-content: center;
          padding: 15px;
          font-family: "Fira Sans Condensed";
          font-size: 25px;

          a {
            color: black;
          }
        }
      }
    }
  }

  /* ==========================end-header========================== */
  /* ==========================bloc-img-presentation========================== */
  .blocimgpresentation {
    background-color: $colorblack;
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 30px;
    margin-bottom: 30px;

    .imgsatis {
      height: 233px;
      width: auto;
      opacity: 0.7;
    }

    .logo2 {
      position: absolute;
      height: 50px;
      width: auto;
    }
  }

  /* ==========================end-bloc-img-presentation========================== */

  /* ==========================sections========================== */
  /* ==========================bloc-XP========================== */
  #presentation {
    .blocxp {
      background-color: $colorbloc;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      height: 320px;
      margin-top: 10px;
      margin-bottom: 10px;

      .imgxp {
        padding: 25px;
        height: 100px;
        width: auto;
      }

      h1 {
        padding: 10px;
        font-family: "Fira Sans Condensed";
      }

      h2 {
        padding: 10px;
        font-family: "fira_sans_condensedregular";
        font-weight: 200;
      }
    }

    /* ==========================end-bloc-XP========================== */
    /* ==========================-bloc-satisfaction========================== */
    .blocsatisfaction {
      background-color: $colorbloc;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      height: 320px;
      margin-top: 10px;
      margin-bottom: 10px;

      .imgsatisfaction {
        padding: 25px;
        height: 100px;
        width: auto;
      }

      h1 {
        padding: 10px;
        font-family: "Fira Sans Condensed";
      }

      h2 {
        padding: 10px;
        font-family: "fira_sans_condensedregular";
        font-weight: 200;
      }
    }

    /* ==========================end-bloc-satisfaction========================== */
    /* ==========================bloc-confiance========================== */
    .blocsatisfaction {
      background-color: $colorbloc;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      height: 320px;
      margin-top: 10px;
      margin-bottom: 10px;

      .imgsatisfaction {
        padding: 25px;
        height: 100px;
        width: auto;
      }

      h1 {
        padding: 10px;
        font-family: "Fira Sans Condensed";
      }

      h2 {
        padding: 10px;
        font-family: "fira_sans_condensedregular";
        font-weight: 200;
      }
    }

    /* ==========================end-bloc-confiance========================== */


  }








  /* ==========================end-sections========================== */
  /* ==========================footer========================== */
  #footer {
    background-color: $colorfooter;
    height: 100px;
    width: auto;

    .icones {
      display: flex;
      justify-content: center;
      padding: 5px;

      i {
        padding: 15px;
      }
    }

    .rgpd {
      display: flex;
      justify-content: space-between;
      padding: 10px;

      h1 {
        color: white;
        font-size: 11px;
        font-family: "Fira Sans Condensed";
        font-style: italic;

        a {
          color: white;
          font-family: "Fira Sans Condensed";
          font-style: italic;
        }
      }
    }
  }

  /* ==========================end-footer========================== */
  /*======================= modif slider ======================*/
  // .nivo-caption{
  //     background-color: transparent;
  //     top:40%;
  //     left:40%;
  //     font-size:5rem;
  // }
  // .nivo-controlNav{
  //     display:none;
  // }
  /*======================= end-modif slider ======================*/

  /* ==========================annonce========================== */

  /* ==========================end-annonce========================== */
  /* ==========================article========================== */

  /* ==========================end-artocle========================== */
  /* ==========================activité========================== */

  /* ==========================end-activité========================== */
  /* ==========================contact========================== */

  /* ==========================end-contact========================== */
  /* ==========================RGPD========================== */

  /* ==========================end-RGPD========================== */
}

/* ==========================end-container========================== */
/* ==========================media querie========================== */

@media screen and (min-width: 600px) {}

@media screen and (min-width: 800px) {}

@media screen and (min-width: 1000px) {}

@media screen and (min-width: 1200px) {}

/* ==========================media querie========================== */