/* ==========================variables========================= */
$colorbloc: #ced4da;
$colorbutton: #bbe7f3;
$colorbackground : #F8F8F8;

/* ==========================end-variables========================== */
/* ==========================fonts========================== */
/* fira-sans-condensed-regular - latin */
@font-face {
  font-family: 'fira_sans_condensedregular';
  src: url('/font/fira-sans-condensed-v10-latin/firasanscondensed-regular-webfont.woff') format('woff2'),
       url('/font/fira-sans-condensed-v10-latin/fira-sans-condensed-v10-latin-regular.woff2') format('woff');
  font-weight: normal;
  font-style: normal;

}

/* fira-sans-condensed-italic - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Fira Sans Condensed";
  font-style: italic;
  font-weight: 400;
  src: url("/font/fira-sans-condensed-v10-latin/fira-sans-condensed-v10-latin-regular.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* ==========================end-fonts========================== */
/* ==========================reset========================== */
* {
  margin: 0;
  padding: 0;
  // background-color: $colorbackground;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/* ==========================end-reset========================== */
/* ==========================container========================== */
#container {
  // IphoneXR dimension: 414px
  max-width: 414px;
  width: 100%;
  margin: 0 auto;
  background-color: $colorbackground;

  /* ==========================header========================== */
  #nav {
    position: sticky;

    .blocburger-logo {
      // margin-top: 10px;
      padding-top: 10px;
      display: flex;
      justify-content: space-between;

      #burger {
        display: flex;
        align-items: center;
        margin-right: 10px;
      }

      #logo {
        .logo1 {
          display: flex;
          align-items: center;
          height: 30px;
          width: auto;
          margin-left: 10px;
        }
      }
    }

    .list {
      display: flex;
      justify-content: center;

      ul {
        li {
          padding: 7px;
          font-family: "Fira Sans Condensed";
          font-size: 20px;
        }
      }
    }
  }
  /* ==========================end-header========================== */
  /* ==========================sections========================== */
  #presentation{
    background-color: $colorbloc;
    height: 320px;
    margin-top: 10px;
    .blocxp{
      display: flex;
      flex-direction: column;
      // flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      text-align: center;
      .imgxp{
        padding: 25px;
        height: 100px;
        width: auto;
      }
      h1{
        padding: 10px;
        font-family: "Fira Sans Condensed";
      }
      h2{
        padding: 10px;
        font-family: 'fira_sans_condensedregular';
        font-weight: 200;
      }
    }
  }
  /* ==========================end-sections========================== */
  /* ==========================footer========================== */

  /* ==========================end-footer========================== */
  /*======================= modif slider ======================*/
  // .nivo-caption{
  //     background-color: transparent;
  //     top:40%;
  //     left:40%;
  //     font-size:5rem;
  // }
  // .nivo-controlNav{
  //     display:none;
  // }
  /*======================= end-modif slider ======================*/

  /* ==========================annonce========================== */

  /* ==========================end-annonce========================== */
  /* ==========================article========================== */

  /* ==========================end-artocle========================== */
  /* ==========================activité========================== */

  /* ==========================end-activité========================== */
  /* ==========================contact========================== */

  /* ==========================end-contact========================== */
  /* ==========================RGPD========================== */

  /* ==========================end-RGPD========================== */
}

/* ==========================end-container========================== */
/* ==========================media querie========================== */

@media screen and (min-width:600px) {}

@media screen and (min-width:800px) {}

@media screen and (min-width:1000px) {}

@media screen and (min-width:1200px) {}

/* ==========================media querie========================== */