@charset "UTF-8";
/* ==========================variables========================= */
/* ==========================end-variables========================== */
/* ==========================fonts========================== */
/* fira-sans-condensed-regular - latin */
@font-face {
  font-family: "fira_sans_condensedregular";
  src: url("/font/fira-sans-condensed-v10-latin/firasanscondensed-regular-webfont.woff") format("woff2"), url("/font/fira-sans-condensed-v10-latin/fira-sans-condensed-v10-latin-regular.woff2") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* fira-sans-condensed-italic - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Fira Sans Condensed";
  font-style: italic;
  font-weight: 400;
  src: url("/font/fira-sans-condensed-v10-latin/fira-sans-condensed-v10-latin-regular.woff2") format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* ==========================end-fonts========================== */
/* ==========================reset========================== */
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/* ==========================end-reset========================== */
/* ==========================container========================== */
#container {
  max-width: 414px;
  width: 100%;
  margin: 0 auto;
  background-color: #f8f8f8;
  /* ==========================header========================== */
  /* ==========================end-header========================== */
  /* ==========================Page-index========================== */
  /* ==========================bloc-img-presentation========================== */
  /* ==========================end-bloc-img-presentation========================== */
  /* ==========================sections========================== */
  /* ==========================bloc-XP========================== */
  /* ==========================end-sections========================== */
  /* ==========================bouton-annonces========================== */
  /* ==========================end-bouton-Annonces========================== */
  /* ==========================end-page-index========================== */
  /* ==========================page-Annonces========================== */
  /* ==========================end-page-Annonces========================== */
  /* ==========================page-Article1========================== */
  /* ==========================end-page-Article1========================== */
  /* ==========================footer========================== */
  /* ==========================end-footer========================== */
  /*======================= modif slider ======================*/
  /*======================= end-modif slider ======================*/
  /* ==========================annonce========================== */
  /* ==========================end-annonce========================== */
  /* ==========================article========================== */
  /* ==========================end-artocle========================== */
  /* ==========================activité========================== */
  /* ==========================end-activité========================== */
  /* ==========================contact========================== */
  /* ==========================end-contact========================== */
  /* ==========================RGPD========================== */
  /* ==========================end-RGPD========================== */
}
#container #nav {
  position: sticky;
}
#container #nav .blocburger-logo {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
}
#container #nav .blocburger-logo #burger {
  display: flex;
  align-items: center;
  margin-right: 10px;
}
#container #nav .blocburger-logo #logo .logo1 {
  display: flex;
  align-items: center;
  height: 30px;
  width: auto;
  margin-left: 10px;
}
#container #nav .list {
  display: flex;
  justify-content: center;
}
#container #nav .list ul {
  margin-top: 30px;
}
#container #nav .list ul li {
  display: flex;
  justify-content: center;
  padding: 15px;
  font-family: "Fira Sans Condensed";
  font-size: 25px;
}
#container #nav .list ul li a {
  color: black;
}
#container .blocimgpresentation {
  background-color: black;
  height: auto;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
#container .blocimgpresentation .imgsatis {
  height: 233px;
  width: auto;
  opacity: 0.7;
}
#container .blocimgpresentation .logo2 {
  position: absolute;
  height: 50px;
  width: auto;
}
#container #presentation {
  /* ==========================end-bloc-XP========================== */
  /* ==========================-bloc-satisfaction========================== */
  /* ==========================end-bloc-satisfaction========================== */
  /* ==========================bloc-confiance========================== */
  /* ==========================end-bloc-confiance========================== */
  /* ==========================bloc-sécurité========================== */
  /* ==========================end-bloc-sécurité========================== */
}
#container #presentation .blocxp {
  background-color: #ced4da;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 320px;
  margin-top: 10px;
  margin-bottom: 10px;
}
#container #presentation .blocxp .imgxp {
  padding: 25px;
  height: 100px;
  width: auto;
}
#container #presentation .blocxp h1 {
  padding: 10px;
  font-family: "Fira Sans Condensed";
}
#container #presentation .blocxp h2 {
  padding: 10px;
  font-family: "fira_sans_condensedregular";
  font-weight: 200;
}
#container #presentation .blocsatisfaction {
  background-color: #ced4da;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 320px;
  margin-top: 10px;
  margin-bottom: 10px;
}
#container #presentation .blocsatisfaction .imgsatisfaction {
  padding: 25px;
  height: 100px;
  width: auto;
}
#container #presentation .blocsatisfaction h1 {
  padding: 10px;
  font-family: "Fira Sans Condensed";
}
#container #presentation .blocsatisfaction h2 {
  padding: 10px;
  font-family: "fira_sans_condensedregular";
  font-weight: 200;
}
#container #presentation .blocconfiance {
  background-color: #ced4da;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 320px;
  margin-top: 10px;
  margin-bottom: 10px;
}
#container #presentation .blocconfiance .imgconfiance {
  padding: 25px;
  height: 100px;
  width: auto;
}
#container #presentation .blocconfiance h1 {
  padding: 10px;
  font-family: "Fira Sans Condensed";
}
#container #presentation .blocconfiance h2 {
  padding: 10px;
  font-family: "fira_sans_condensedregular";
  font-weight: 200;
}
#container #presentation .blocsecurite {
  background-color: #ced4da;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 320px;
  margin-top: 10px;
  margin-bottom: 10px;
}
#container #presentation .blocsecurite .imgsecurite {
  padding: 25px;
  height: 100px;
  width: auto;
}
#container #presentation .blocsecurite h1 {
  padding: 10px;
  font-family: "Fira Sans Condensed";
}
#container #presentation .blocsecurite h2 {
  padding: 10px;
  font-family: "fira_sans_condensedregular";
  font-weight: 200;
}
#container .boutonannonce {
  display: flex;
  justify-content: center;
}
#container .boutonannonce a {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #bbe7f3;
  height: 70px;
  width: 170px;
  font-size: 25px;
  font-family: "Fira Sans Condensed";
  color: black;
  border-radius: 10px;
  margin-top: 14px;
  margin-bottom: 20px;
}
#container .annonces {
  width: 300px;
  margin: auto;
}
#container .annonces .article1 {
  background-color: #ced4da;
  margin-bottom: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
  border-radius: 10px;
}
#container .annonces .article1 .imgarticle {
  height: 130px;
  width: 300px;
  overflow: hidden;
}
#container .annonces .article1 .imgarticle .imgmaison1 {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}
#container .annonces .article1 h1 {
  font-family: "fira_sans_condensedregular";
  font-size: 17px;
  font-weight: 500;
  margin-top: 10px;
  text-align: center;
}
#container .annonces .article2 {
  background-color: #ced4da;
  margin-bottom: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
  border-radius: 10px;
}
#container .annonces .article2 .imgarticle2 {
  height: 130px;
  width: 300px;
  overflow: hidden;
}
#container .annonces .article2 .imgarticle2 .imgmaison2 {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}
#container .annonces .article2 h1 {
  font-family: "fira_sans_condensedregular";
  font-size: 17px;
  font-weight: 500;
  margin-top: 10px;
  text-align: center;
}
#container .slider {
  margin-top: 20px;
  margin-bottom: 20px;
}
#container .detailsarticle {
  background-color: #ced4da;
  margin-bottom: 30px;
}
#container .detailsarticle .bloc1 h1 {
  font-family: "fira_sans_condensedregular";
  font-size: 23px;
  font-weight: 500;
  padding: 10px;
}
#container .detailsarticle .bloc2 h1 {
  font-family: "fira_sans_condensedregular";
  font-size: 23px;
  font-weight: 500;
  padding: 10px;
}
#container .detailsarticle .bloc3 h1 {
  font-family: "fira_sans_condensedregular";
  font-size: 23px;
  font-weight: 800;
  padding: 10px;
}
#container .detailsarticle .bloc3 h2 {
  font-family: "fira_sans_condensedregular";
  font-size: 23px;
  font-weight: 500;
  padding: 10px;
}
#container .detailsarticle .plandactivite {
  display: flex;
  justify-content: center;
}
#container .detailsarticle .plandactivite a {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: #bbe7f3;
  height: 70px;
  width: 200px;
  font-size: 25px;
  font-family: "Fira Sans Condensed";
  color: black;
  border-radius: 10px;
  margin-top: 14px;
  margin-bottom: 20px;
}
#container #footer {
  background-color: #212529;
  height: 100px;
  width: auto;
}
#container #footer .icones {
  display: flex;
  justify-content: center;
  padding: 5px;
}
#container #footer .icones i {
  padding: 15px;
}
#container #footer .rgpd {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
#container #footer .rgpd h1 {
  color: white;
  font-size: 11px;
  font-family: "Fira Sans Condensed";
  font-style: italic;
}
#container #footer .rgpd h1 a {
  color: white;
  font-family: "Fira Sans Condensed";
  font-style: italic;
}
#container .nivo-caption {
  background-color: transparent;
  top: 40%;
  left: 40%;
  font-size: 5rem;
}

/* ==========================end-container========================== */
/* ==========================media querie========================== */
/* ==========================media querie========================== */

/*# sourceMappingURL=style.css.map */
