/* ==========================variables========================= */
$colorwhite: white;
$colorblack: black;
$colorbloc: #ced4da;
$colorbutton: #bbe7f3;
$colorbackground: #f8f8f8;
$colorfooter: #212529;

/* ==========================end-variables========================== */
/* ==========================fonts========================== */
/* fira-sans-condensed-regular - latin */
@font-face {
  font-family: "fira_sans_condensedregular";
  src: url("/font/fira-sans-condensed-v10-latin/firasanscondensed-regular-webfont.woff")
      format("woff2"),
    url("/font/fira-sans-condensed-v10-latin/fira-sans-condensed-v10-latin-regular.woff2")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

/* fira-sans-condensed-italic - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Fira Sans Condensed";
  font-style: italic;
  font-weight: 400;
  src: url("/font/fira-sans-condensed-v10-latin/fira-sans-condensed-v10-latin-regular.woff2")
    format("woff2");
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* ==========================end-fonts========================== */
/* ==========================reset========================== */
* {
  margin: 0;
  padding: 0;
  // background-color: $colorbackground;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

/* ==========================end-reset========================== */
/* ==========================container========================== */
#container {
  // IphoneXR dimension: 414px
  max-width: 414px;
  width: 100%;
  margin: 0 auto;
  background-color: $colorbackground;

  /* ==========================header========================== */
  /* ==========================menu-burger========================== */
  #nav {
    .blocburger-logo {
      padding-top: 25px;
      display: flex;
      justify-content: space-between;

      #burger {
        display: flex;
        align-items: center;
        margin-right: 10px;
      }

      #logo {
        .logo1 {
          display: flex;
          align-items: center;
          height: 30px;
          width: auto;
          margin-left: 10px;
        }
      }
    }
    .list {
      display: flex;
      justify-content: center;
      ul {
        margin-top: 30px;
        li {
          display: flex;
          padding: 15px;
          font-family: "Fira Sans Condensed";
          font-size: 25px;
          a {
            color: black;
            height: 100px;
            width: auto;
          }
        }
      }
    }
  }
  /* ==========================menu-burger========================== */
  /* ==========================end-header========================== */
  /* ==========================Page-index========================== */
  /* ==========================bloc-img-presentation========================== */
  .blocimgpresentation {
    background-color: $colorblack;
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 30px;
    margin-bottom: 30px;

    .imgsatis {
      height: 233px;
      width: auto;
      opacity: 0.7;
    }

    .logo2 {
      position: absolute;
      height: 50px;
      width: auto;
    }
  }

  /* ==========================end-bloc-img-presentation========================== */
  /* ==========================sections========================== */
  /* ==========================bloc-XP========================== */
  #presentation {
    .blocxp {
      background-color: $colorbloc;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      height: 320px;
      margin-top: 10px;
      margin-bottom: 10px;

      .imgxp {
        padding: 25px;
        height: 100px;
        width: auto;
      }

      h1 {
        padding: 10px;
        font-family: "Fira Sans Condensed";
      }

      h2 {
        padding: 10px;
        font-family: "fira_sans_condensedregular";
        font-weight: 200;
      }
    }

    /* ==========================end-bloc-XP========================== */
    /* ==========================-bloc-satisfaction========================== */
    .blocsatisfaction {
      background-color: $colorbloc;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      height: 320px;
      margin-top: 10px;
      margin-bottom: 10px;

      .imgsatisfaction {
        padding: 25px;
        height: 100px;
        width: auto;
      }

      h1 {
        padding: 10px;
        font-family: "Fira Sans Condensed";
      }

      h2 {
        padding: 10px;
        font-family: "fira_sans_condensedregular";
        font-weight: 200;
      }
    }

    /* ==========================end-bloc-satisfaction========================== */
    /* ==========================bloc-confiance========================== */
    .blocconfiance {
      background-color: $colorbloc;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      height: 320px;
      margin-top: 10px;
      margin-bottom: 10px;

      .imgconfiance {
        padding: 25px;
        height: 100px;
        width: auto;
      }

      h1 {
        padding: 10px;
        font-family: "Fira Sans Condensed";
      }

      h2 {
        padding: 10px;
        font-family: "fira_sans_condensedregular";
        font-weight: 200;
      }
    }

    /* ==========================end-bloc-confiance========================== */
    /* ==========================bloc-sécurité========================== */
    .blocsecurite {
      background-color: $colorbloc;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      height: 320px;
      margin-top: 10px;
      margin-bottom: 10px;

      .imgsecurite {
        padding: 25px;
        height: 100px;
        width: auto;
      }

      h1 {
        padding: 10px;
        font-family: "Fira Sans Condensed";
      }

      h2 {
        padding: 10px;
        font-family: "fira_sans_condensedregular";
        font-weight: 200;
      }
    }

    /* ==========================end-bloc-sécurité========================== */
  }
  /* ==========================end-sections========================== */
  /* ==========================bouton-annonces========================== */
  .boutonannonce {
    display: flex;
    justify-content: center;
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #bbe7f3;
      height: 70px;
      width: 170px;
      font-size: 25px;
      font-family: "Fira Sans Condensed";
      color: $colorblack;
      border-radius: 10px;
      margin-top: 14px;
      margin-bottom: 20px;
    }
  }
  /* ==========================end-bouton-Annonces========================== */
  /* ==========================end-page-index========================== */
  /* ==========================page-Annonces========================== */
  .annonces {
    width: 370px;
    margin: auto;
    .article1 {
      background-color: $colorbloc;
      margin-bottom: 10px;
      margin-top: 20px;
      margin-bottom: 10px;
      border-radius: 10px;
      .imgarticle {
        height: 130px;
        width: 370px;
        overflow: hidden;
        .imgmaison1 {
          height: 100%;
          width: 100%;
          border-radius: 10px;
          object-fit: cover;
        }
      }
      h1 {
        font-family: "fira_sans_condensedregular";
        font-size: 22px;
        font-weight: 500;
        margin-top: 10px;
        text-align: center;
      }
    }

    .article2 {
      background-color: $colorbloc;
      margin-bottom: 10px;
      margin-top: 20px;
      margin-bottom: 10px;
      border-radius: 10px;
      .imgarticle2 {
        height: 130px;
        width: 370px;
        overflow: hidden;
        .imgmaison2 {
          height: 100%;
          width: 100%;
          border-radius: 10px;
          object-fit: cover;
        }
      }
      h1 {
        font-family: "fira_sans_condensedregular";
        font-size: 22px;
        font-weight: 500;
        margin-top: 10px;
        text-align: center;
      }
    }
    .article3 {
      background-color: $colorbloc;
      margin-bottom: 10px;
      margin-top: 20px;
      margin-bottom: 10px;
      border-radius: 10px;
      .imgarticle2 {
        height: 130px;
        width: 370px;
        overflow: hidden;
        .imgmaison2 {
          height: 100%;
          width: 100%;
          border-radius: 10px;
          object-fit: cover;
        }
      }
      h1 {
        font-family: "fira_sans_condensedregular";
        font-size: 22px;
        font-weight: 500;
        margin-top: 10px;
        text-align: center;
      }
    }
    .article4 {
      background-color: $colorbloc;
      margin-bottom: 10px;
      margin-top: 20px;
      margin-bottom: 10px;
      border-radius: 10px;
      .imgarticle2 {
        height: 130px;
        width: 370px;
        overflow: hidden;
        .imgmaison2 {
          height: 100%;
          width: 100%;
          border-radius: 10px;
          object-fit: cover;
        }
      }
      h1 {
        font-family: "fira_sans_condensedregular";
        font-size: 22px;
        font-weight: 500;
        margin-top: 10px;
        text-align: center;
      }
    }
  }
  /* ==========================end-page-Annonces========================== */
  /* ==========================page-Article1========================== */
  .slider {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .detailsarticle {
    margin-bottom: 30px;
    .bloc1 {
      background-color: $colorbloc;
      margin-bottom: 20px;
      h1 {
        font-family: "fira_sans_condensedregular";
        font-size: 23px;
        font-weight: 500;
        padding: 10px;
      }
    }

    .bloc2 {
      background-color: $colorbloc;
      margin-bottom: 20px;
      h1 {
        font-family: "fira_sans_condensedregular";
        font-size: 23px;
        font-weight: 500;
        padding: 10px;
      }
    }
    .bloc3 {
      background-color: $colorbloc;
      margin-bottom: 20px;
      h1 {
        font-family: "fira_sans_condensedregular";
        font-size: 23px;
        font-weight: 800;
        padding: 10px;
      }
      h2 {
        font-family: "fira_sans_condensedregular";
        font-size: 23px;
        font-weight: 500;
        padding: 10px;
      }
    }
    .plandactivite {
      display: flex;
      justify-content: center;
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        background-color: #bbe7f3;
        height: 70px;
        width: 200px;
        font-size: 25px;
        font-family: "Fira Sans Condensed";
        color: $colorblack;
        border-radius: 10px;
        margin-top: 14px;
        margin-bottom: 20px;
      }
    }
  }
  /* ==========================end-page-Article1========================== */
  /* ==========================page-détails1========================== */
  .map {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .containerdetails {
    margin-top: 30px;
    margin-bottom: 30px;
    .bloc1 {
      background-color: $colorbloc;
      h1 {
        font-family: "fira_sans_condensedregular";
        font-size: 23px;
        font-weight: 800;
        padding: 10px;
      }
      h2 {
        font-family: "fira_sans_condensedregular";
        font-size: 23px;
        font-weight: 500;
        padding: 10px;
      }
    }
    .bloc2 {
      background-color: $colorbloc;
      margin-top: 20px;
      h1 {
        font-family: "fira_sans_condensedregular";
        font-size: 23px;
        font-weight: 800;
        padding: 10px;
      }
      h2 {
        font-family: "fira_sans_condensedregular";
        font-size: 23px;
        font-weight: 500;
        padding-left: 10px;
        padding-bottom: 5px;
      }
    }

    .bloc3 {
      background-color: $colorbloc;
      margin-top: 20px;
      h1 {
        font-family: "fira_sans_condensedregular";
        font-size: 23px;
        font-weight: 800;
        padding: 10px;
      }
      h2 {
        font-family: "fira_sans_condensedregular";
        font-size: 23px;
        font-weight: 500;
        padding-left: 10px;
        padding-bottom: 5px;
      }
    }
    .bloc4 {
      background-color: $colorbloc;
      margin-top: 20px;
      margin-bottom: 20px;
      h1 {
        font-family: "fira_sans_condensedregular";
        font-size: 23px;
        font-weight: 800;
        padding: 10px;
      }
      h2 {
        font-family: "fira_sans_condensedregular";
        font-size: 23px;
        font-weight: 500;
        padding-left: 10px;
        padding-bottom: 5px;
      }
    }
    .boutoncontact {
      display: flex;
      justify-content: center;
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        background-color: #bbe7f3;
        height: 70px;
        width: 150px;
        font-size: 25px;
        font-family: "Fira Sans Condensed";
        color: $colorblack;
        border-radius: 10px;
        margin-top: 14px;
        margin-bottom: 20px;
      }
    }
  }

  /* ==========================end-page-détails========================== */
  /* ==========================page-Contact========================== */
  .containercontact {
    background-color: $colorbloc;
    height: 930px;
    width: 350px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-size: 20px;
    font-family: "Fira Sans Condensed";
    #form {
      input {
        border: none;
        padding-left: 10px;
        background-color: #ecf6ff;
        font-family: "Fira Sans Condensed";
        border-radius: 10px;
      }
      h1 {
        font-size: 20px;
        font-weight: 500;
        padding-bottom: 10px;
        padding-left: 4px;
      }
      .civilite {
        height: 50px;
        width: 300px;
        padding-top: 12px;
        label {
          padding-left: 3px;
        }
        input {
          margin-bottom: 20px;
          font-family: "Fira Sans Condensed";
        }
      }
      .nomprenom {
        input {
          height: 50px;
          width: 300px;
          margin-bottom: 20px;
          font-family: "Fira Sans Condensed";
        }
      }
      .tel {
        input {
          height: 50px;
          width: 300px;
          margin-bottom: 20px;
          font-family: "Fira Sans Condensed";
        }
      }
      .mail {
        input {
          height: 50px;
          width: 300px;
          margin-bottom: 20px;
          font-family: "Fira Sans Condensed";
        }
      }
      .age {
        input {
          height: 50px;
          width: 300px;
          margin-bottom: 20px;
          font-family: "Fira Sans Condensed";
        }
      }
      .calendrier {
        h1 {
          margin-bottom: -25px;
        }
        input {
          height: 50px;
          width: 300px;
          margin-bottom: 20px;
          font-family: "Fira Sans Condensed";
        }
      }
      .message {
        textarea {
          background-color: #ecf6ff;
          height: 50px;
          width: 300px;
          margin-bottom: 20px;
          border: none;
          align-content: center;
          padding-left: 10px;
          font-family: "Fira Sans Condensed";
          border-radius: 10px;
        }
      }
      .bouton {
        display: flex;
        justify-content: center;
        button {
          height: 50px;
          width: 200px;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #bbe7f3;
          font-size: 25px;
          font-family: "Fira Sans Condensed";
          color: $colorblack;
          border-radius: 10px;
          margin-top: 14px;
          margin-bottom: 20px;
          border: none;
        }
      }
    }
  }

  /* ==========================end-page-Contact========================== */
  /* ==========================page-RGPD========================== */
  .blocrgpd {
    margin-top: 50px;
    .textmention1 {
      display: flex;
      justify-content: center;
      font-size: 15px;
      font-family: "Fira Sans Condensed";
      margin-bottom: 25px;
    }
    .textmention2 {
      display: flex;
      justify-content: center;
      font-size: 9px;
      font-family: "Fira Sans Condensed";
      margin: 20px;
    }
    .textmention3 {
      display: flex;
      justify-content: center;
      font-size: 15px;
      font-family: "Fira Sans Condensed";
      margin-bottom: 25px;
    }
    .textmention4 {
      display: flex;
      justify-content: center;
      font-size: 9px;
      font-family: "Fira Sans Condensed";
      margin: 20px;
    }
    .textmention5 {
      display: flex;
      justify-content: center;
      font-size: 15px;
      font-family: "Fira Sans Condensed";
      margin-bottom: 25px;
    }
    .textmention6 {
      display: flex;
      justify-content: center;
      font-size: 9px;
      font-family: "Fira Sans Condensed";
      margin: 20px;
    }
    .textmention7 {
      display: flex;
      justify-content: center;
      font-size: 15px;
      font-family: "Fira Sans Condensed";
      margin-bottom: 25px;
    }
    .textmention8 {
      display: flex;
      justify-content: center;
      font-size: 9px;
      font-family: "Fira Sans Condensed";
      margin: 20px;
    }
    .textmention9 {
      display: flex;
      justify-content: center;
      font-size: 15px;
      font-family: "Fira Sans Condensed";
      margin-bottom: 25px;
    }
    .textmention10 {
      display: flex;
      justify-content: center;
      font-size: 9px;
      font-family: "Fira Sans Condensed";
      margin: 20px;
    }
  }
  /* ==========================page-RGPD========================== */
  /* ==========================footer========================== */
  #footer {
    background-color: $colorfooter;
    height: 100px;
    width: auto;

    .icones {
      display: flex;
      justify-content: center;
      padding: 5px;

      i {
        padding: 15px;
      }
    }

    .rgpd {
      display: flex;
      justify-content: space-between;
      padding: 10px;

      h1 {
        color: white;
        font-size: 11px;
        font-family: "Fira Sans Condensed";
        font-style: italic;

        a {
          color: white;
          font-family: "Fira Sans Condensed";
          font-style: italic;
        }
      }
    }
  }

  /* ==========================end-footer========================== */
  /*======================= modif slider ======================*/
  .nivo-caption {
    background-color: transparent;
    top: 40%;
    left: 40%;
    font-size: 5rem;
  }
  // .nivo-controlNav{
  //     display:none;
  // }
  /*======================= end-modif slider ======================*/
  /* ==========================end-container========================== */
}
/* ==========================media querie========================== */

@media (min-width: 0px) and (max-width: 600px) {
  #container {
    #nav {
      .blocburger-logo {
        .listnoburger {
          display: none;
        }
      }
    }
  }
}

@media screen and (min-width: 600px) {
  html {
    background-color: $colorbackground;
  }
  #container {
    max-width: 600px;
    width: 100%;
    #nav {
      margin: 10px;
      border-top: 1px solid;
      border-bottom: 1px solid;
      .blocburger-logo {
        margin-bottom: 25px;
        #burger {
          display: none;
        }
        .listnoburger {
          display: flex;
          ul {
            display: flex;
            flex-direction: row;
            li {
              align-content: center;
              margin-right: 20px;
              margin-left: 20px;
              font-family: "Fira Sans Condensed";
              font-size: 25px;
              a {
                color: black;
                height: 100px;
                width: auto;
              }
            }
          }
        }
      }
      .list {
        display: none;
        flex-direction: row;
      }
    }
    .blocimgpresentation {
      margin-top: 40px;
      border-radius: 10px;
      .imgsatis {
        height: 337px;
        border-radius: 10px;
      }
    }

    #presentation {
      .blocxp {
        border-radius: 10px;
      }
      .blocsatisfaction {
        border-radius: 10px;
      }
      .blocconfiance {
        border-radius: 10px;
      }
      .blocsecurite {
        border-radius: 10px;
      }
    }
  }
}
@media screen and (min-width: 600px) {
  #container {
    .blocrgpd {
      .textmention1 {
      }
      .textmention2 {
        text-align: center;
      }
      .textmention3 {
      }
      .textmention4 {
        text-align: center;
      }
      .textmention5 {
      }
      .textmention6 {
        text-align: center;
      }
      .textmention7 {
      }
      .textmention8 {
        text-align: center;
      }
      .textmention9 {
      }
      .textmention10 {
        text-align: center;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  #container {
    max-width: 1200px;
    width: 100%;
    #nav {
      .blocburger-logo {
        #burger {
          display: none;
        }
        .listnoburger {
          display: flex;
          ul {
            display: flex;
            flex-direction: row;
            li {
              align-content: center;
              margin-right: 20px;
              margin-left: 20px;
              font-family: "Fira Sans Condensed";
              font-size: 25px;
              a {
                color: black;
                height: 100px;
                width: auto;
              }
            }
          }
        }
      }
      .list {
        display: none;
        flex-direction: row;
      }
    }
    .blocimgpresentation {
      border-radius: 10px;
      height: 400px;
      width: 800px;
      margin: auto;
      margin-top: 30px;
      margin-bottom: 30px;
      .imgsatis {
        height: 400px;
        width: 800px;
        border-radius: 10px;
      }
    }

    #presentation {
      display: flex;
      flex-direction: row;
      .blocxp {
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        height: 340px;
        width: 650px;
        margin: auto;
        margin-top: 30px;
        margin-bottom: 30px;
        border-radius: 10px;
        margin-right: 50px;
      }
      .blocsatisfaction {
        height: 340px;
        width: 650px;
        margin: auto;
        margin-top: 30px;
        margin-bottom: 30px;
        border-radius: 10px;
        margin-right: 50px;
      }
      .blocconfiance {
        height: 340px;
        width: 650px;
        margin: auto;
        margin-top: 30px;
        margin-bottom: 30px;
        border-radius: 10px;
        margin-right: 50px;
      }
      .blocsecurite {
        height: 340px;
        width: 650px;
        margin: auto;
        margin-top: 30px;
        margin-bottom: 30px;
        border-radius: 10px;
      }
    }

    #footer {
      background-color: $colorfooter;
      height: 100px;
      width: auto;

      .icones {
        display: flex;
        justify-content: center;
        padding: 5px;

        i {
          padding: 15px;
        }
      }

      .rgpd {
        display: flex;
        justify-content: space-between;
        padding: 10px;

        h1 {
          color: white;
          font-size: 15px;
          font-family: "Fira Sans Condensed";
          font-style: italic;
          margin-left: 50px;

          a {
            color: white;
            font-family: "Fira Sans Condensed";
            font-style: italic;
            margin-right: 80px;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  #container {
    .annonces {
      width: 370px;
      .blocannonce1 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: auto;
        .article1 {
          margin-right: 100px;
        }

        .article2 {
          background-color: $colorbloc;
          margin-bottom: 10px;
          margin-top: 20px;
        }
      }

      .blocannonce2 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: auto;
        margin-bottom: 20px;
        .article3 {
          margin-right: 100px;
        }
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  #container {
    .slider {
      height: 500px;
      width: 800px;
      margin-top: 20px;
      margin-bottom: 20px;
      margin: auto;
    }
    .detailsarticle {
      margin-top: 130px;
      .bloc1 {
        display: flex;
        justify-content: center;
        margin: auto;
        width: 800px;
        text-align: center;
      }
      .bloc2 {
        display: flex;
        justify-content: center;
        margin: auto;
        width: 800px;
        text-align: center;
        margin-top: 20px;
      }
      .bloc3 {
        text-align: center;
        margin: auto;
        width: 800px;
        margin-top: 20px;
        h1 {
          margin-left: 64px;
        }
        .blocarticle001 {
          display: flex;
          justify-content: center;
          margin-right: 5px;
        }
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  #container {
    .containerdetails {
      align-content: center;
      .blocdetails1 {
        .bloc1 {
          text-align: center;
          margin: auto;
          width: 800px;
          .blocdetails1 {
            display: flex;
            justify-content: center;
          }
        }
        .bloc2 {
          text-align: center;
          margin: auto;
          width: 800px;
          margin-top: 20px;
        }
        .bloc3 {
          text-align: center;
          margin: auto;
          width: 800px;
          margin-top: 20px;
        }
      }
      .bloc4 {
        text-align: center;
        margin: auto;
        width: 800px;
        margin-top: 20px;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  #container {
    .containercontact {
      width: 600px;
      #form {
        .nomprenom {
          input {
            width: 400px;
          }
        }
        .tel {
          input {
            width: 400px;
          }
        }
        .mail {
          input {
            width: 400px;
          }
        }
        .age {
          input {
            width: 400px;
          }
        }
        .calendrier {
          input {
            width: 400px;
          }
        }
        .message {
          textarea {
            width: 400px;
          }
        }
      }
    }
  }
}
/* ==========================media querie========================== */
